TZ=America/Campo_Grande

TRAEFIK_DASHBOARD_HOST=traefik.example.com
PORTAINER_HOST=portainer.example.com
UPTIME_KUMA_HOST=status.example.com
DOZZLE_HOST=logs.example.com

LETSENCRYPT_EMAIL=email@example.com
