TZ=America/Campo_Grande

TRAEFIK_DASHBOARD_HOST=traefik.marca7.tech
PORTAINER_HOST=portainer.marca7.tech
UPTIME_KUMA_HOST=uptimekuma.marca7.tech
DOZZLE_HOST=dozzle.marca7.tech
MINIO_CONSOLE_HOST=minio.marca7.tech
MINIO_S3_HOST=s3.marca7.tech

# Also set in compose/traefik/.env (used by Traefik ACME)
LETSENCRYPT_EMAIL=email@example.com
